<div class="flex flex-col justify-center h-screen items-center">

  <div class="mb-5 w-96 justify-between text-[30px] flex">
    <i class="bi bi-box-arrow-right cursor-pointer"></i>
    <i class="bi bi-gear-fill cursor-pointer"></i>
  </div>

  <div class="flex justify-center relative mb-[50px]">
    <div class="card w-80 h-80 bg-base-100 shadow-xl mt-8 brightness-50">
      <img class="rounded-[20px]" src="./assets/dec110.jpg" alt="cover_next_song"/>
    </div>

    <div class="card w-96 bg-base-100 shadow-xl z-20 absolute">
      <img class="rounded-[20px]" src="./assets/optimized_large_thumb_stage.jpg" alt="cover_current_song"/>
    </div>

    <div class="card w-80 h-80 bg-base-100 shadow-xl z-10 mt-8 brightness-50">
      <img class="rounded-[20px]" src="./assets/bil-1.jpg" alt="cover_prev_song"/>
    </div>
  </div>

  <div class="mt-10 w-96">
    <h2 class="text-[22px] font-semibold">Songtitle</h2>
    <p>Artist</p>
  </div>

  <div class="relative flex flex-col mt-5">
    <progress class="progress w-96 bg-base-300 progress-primary" value="50" max="100"></progress>
    <div class="flex justify-between mx-2">
      <p>
        START
      </p>
      <p>
        END
      </p>
    </div>

    <div class="flex justify-between mx-5 mt-2 text-[60px]">
      <i class="bi bi-skip-start cursor-pointer"></i>
      <i class="bi bi-pause-circle-fill cursor-pointer"></i>
      <!--<i class="bi bi-play-circle-fill"></i>-->
      <i class="bi bi-skip-end cursor-pointer"></i>
    </div>

  </div>


</div>
