<div class="relative z-[5]">
  <div class="h-screen">
    <div class="flex justify-center items-center h-full">
      <div class="card w-96 bg-base-300 shadow-xl">
        <div class="card-body items-center text-center">
          <h2 class="card-title">Welcome to SpotiBot!</h2>
          <h2 class="text-slate-500">Enjoy your favorite music with your favorite people.</h2>
          <div class="card-actions mt-4">
            <button class="btn btn-primary" routerLink="/create-room">Create room</button>
            <button class="btn btn-secondary" routerLink="/join-room">Join room</button>
          </div>
        </div>
      </div>
    </div>
    <!--TODO: LINKS-->
    <div class="flex justify-end gap-5 w-full text-3xl pr-5 mb-5">
      <i class="bi bi-spotify"></i>
      <a href="https://www.buymeacoffee.com/haderm"><i class="bi bi-cup-hot-fill"></i></a>
      <a href="https://github.com/TheMat556"><i class="bi bi-github"></i></a>
    </div>
  </div>
</div>

<div class="z-[0]">
  <div class='absolute w-[40%] h-[35%] top-0 pink__gradient'></div>
  <div class='absolute w-[50%] h-[50%] left-20 bottom-20 blue__gradient'></div>
</div>
