<div class="flex justify-center items-center h-screen">
  <div class="card w-96 bg-base-300 shadow-xl">
    <div class="card-body items-center text-center">
      <h2 class="card-title">Welcome to SpotiBot!</h2>
      <p>Enjoy your favorite music with your favorite people.</p>
      <div class="card-actions mt-4">
        <button class="btn btn-primary" routerLink="/create-room">Create room</button>
        <button class="btn btn-secondary" routerLink="/join-room">Join room</button>
      </div>
    </div>
  </div>
</div>
